{reduce:space}
{mask:main}

<section class="news">
    <h3>{page_name}</h3>
    <div class="news-block">
        {mask:item}
        <div class="wrap">
            <p class="date">{date_1}</p>
            <p><a href="{url}">{title}</a></p>
        </div>
        {/mask}
    </div>    
    
    {set:navigation}
    <div class="page-list">
        <ul class="pager">
            <li class="pager_corner"></li>
            {set:url_prev}
            <li class="pager_arr"><a href="{url_prev}">предыдущая</a></li>
            {/}
            {mask:navigation}
            <li>
                {mis:current}<a href="{url}">{title}</a>{/}
                {set:current}<i class="pager_act"></i><span>{title}</span>{/}
            </li>
            {/mask}
            {set:url_next}
			<li class="pager_arr arr_rht"><a href="{url_next}">следующая</a></li>
            {/}
            <li class="pager_corner pager_corner_r"></li>
        </ul>
        <div class="clear"></div>
    </div>
    {/}
</section>
	
{/mask}