@CHARSET "UTF-8";

body {
	padding: 0;
	margin: 0;
	background: transparent;
	font-family: Tahoma,Arial,Helvetica,sans-serif;
	font-size:12px;
}

.block {
	float: left;
	margin-right: 20px;
}

#map {
	width: 800px;
	height: 670px;
}

#legend {
	clear: both;
}

h2{font-weight:normal; font-size:18px; margin:20px 0 10px 0; -webkit-text-shadow: 1px 1px 0px #fff; -moz-text-shadow: 1px 1px 0px #fff; text-shadow: 1px 1px 0px #fff;}

#legend{padding:15px; margin-top:20px; display:inline-block; background-color:#144d7f; border:2px solid #fff; color:#fff; -webkit-border-radius: 8px; -moz-border-radius: 8px; border-radius: 8px; line-height:16px;}
*+html #legend{display:inline;}

.markers_trace{padding:15px; width:450px; background-color:#eaeaea; border:2px solid #fff; -webkit-border-radius: 8px; -moz-border-radius: 8px; border-radius: 8px;	 -webkit-text-shadow: 1px 1px 0px #fff; -moz-text-shadow: 1px 1px 0px #fff; text-shadow: 1px 1px 0px #fff;}
.markers_trace p{padding:12px 0 24px 53px; margin:0px;}
.markers_trace p.markers_1{background: url(markers/marker-first.png) left center no-repeat;}
.markers_trace p.markers_2{background: url(markers/marker-bound1.png) 15px 13px no-repeat;}
.markers_trace p.markers_3{background: url(markers/marker-bound2.png) 15px 13px no-repeat;}
.markers_trace p.markers_4{background: url(markers/marker-bound3.png) 15px 13px no-repeat;}
.markers_trace p.markers_5{background: url(markers/marker-last.png) left center no-repeat;}
