.modal-bg {
    background-color: rgba(0, 0, 0, .6);
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1999;
}

.modal {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    margin: 120px auto;
    padding: 20px;
    background-color: #fff;
    box-sizing: border-box;
}

    .modal label.error {
        color: red;
        position: relative;
        top: -15px
    }

    .modal input.error, .modal textarea.error {
        border-color: red
    }

#messageModal .modal {
    width: 400px;
}

#photoModal .modal {
    right: initial;
    left: 50%;
    transform: translateX(-50%);
}


#textModal .modal {
    width: 800px;
    box-sizing: border-box;
}

.modal-header h3 {
    font-size: 30px;
    font-weight: normal;
    margin: 10px 0 10px 20px;
}

.modal form {
    padding: 20px;
}

.modal p {
    margin-top: 0px;
}

.modal-icon {
    margin-right: 10px;
}

.closeModal {
    cursor: pointer;
}

.modal img { max-width: 100% }
