{reduce:space}
{mask:main}
<center>
<table cellpadding='5' cellspacing='0' border='1'>
	<tr>
		<td colspan='2' bgcolor='#CCCCCC'><center><strong>Данные отправителя</strong></center></td>
	</tr>
	<tr>
		<td><center><strong>ФИО:</strong></center></td>
		<td>{block[fio]}</td>
	</tr>
	<tr>
		<td><center><strong>E-mail:</strong></center></td>
		<td>{block[email]}</td>
	</tr>
	<tr>
		<td><center><strong>Файл:</strong></center></td>
		<td>{block[file]}</td>
	</tr>
	<tr>
		<td colspan='2' bgcolor='#CCCCCC'><center><strong>Сообщение:</strong></center></td>
	</tr>
	<tr>
		<td colspan='2'>{block[message]}</td>
	</tr>
	<tr>
		<td colspan='2' bgcolor='#CCCCCC'></td>
	</tr>
</table>
</center>
{/mask}