<!DOCTYPE html>
<html>
<head>
	<!--#misc::head#-->
</head>

<body>
    
    <header>
        <div class="container">
            <!--#misc::header#-->
            <!--#river::menu#-->
        </div>
    </header>
    
    <div class="container">
        <div class="wrap space-between">
            <div class="col width-300">
                <!--#misc::slider#-->
                <!--#smi::mainblock#-->
            </div>
            <div class="col width-300">
                <!--#news::mainblock#-->
                <!--#video::mainblock#-->
            </div>
            <div class="col width-325">
                <!--#river::networks#-->
            </div>
        </div>
    </div>

    <!--#misc::footer#-->
    <!--#contacts::order#-->
    <!--#misc::online#-->
    
    <script src='https://www.google.com/recaptcha/api.js'></script>
	
</body>
</html>