<!DOCTYPE html>
<html>
<head>
	<!--#misc::head#-->
</head>

<body>
    
    <header>
        <div class="container">
            <!--#misc::header#-->
            <!--#river::menu#-->
            <!--#misc::path#-->
        </div>
    </header>
    
    <div class="container">
        <div class="wrap space-between">
            <!--#control::content#-->
        </div>
    </div>
    
    <!--#misc::footer#-->
    <!--#river::showListDetail#-->
    <!--#contacts::order#-->
    <!--#misc::online#-->
    
    <script src='https://www.google.com/recaptcha/api.js'></script>

</body>
</html>