{reduce:space}
{mask:main}

    {mask:item}
        {set:selected}
            {set:img}
            <div id="photoModal" class="hidden">
                <div class="modal-bg" onclick="closeModal('photoModal')"></div>
                <div class="modal">
                    <div class="wrap space-between modal-header">
                        <div></div>
                        <div>
                            <a class="closeModal" onclick="closeModal('photoModal')">
                                <img src="/{//site_dir}/img/close.png" alt="" />
                            </a>
                        </div>
                    </div>
                    <img src="/{//site_dir}/images/0/{img}" alt="" />
                </div>
            </div>
            {/}
            <div id="textModal" class="hidden">
                <div class="modal-bg" onclick="closeModal('textModal')"></div>
                <div class="modal">
                    <div class="wrap space-between modal-header">
                        <div></div>
                        <div>
                            <a class="closeModal" onclick="closeModal('textModal')">
                                <img src="/{//site_dir}/img/close.png" alt="" />
                            </a>
                        </div>
                    </div>
                    {text}
                    <img src="/{//site_dir}/images/0/{img}" alt="" />
                </div>
            </div>
        {/}
    {/mask}
	
{/mask}