{reduce:space}
{mask:main}
    <div class="wrap center align">
        <div class="to-left">
            <a href="/" target="_blank"><img src="/{site_dir}/img/logo.png" alt="" /></a>
        </div>
        <div class="to-center">
            <h1>
                <a href="/{site_dir}/" style="font-size: inherit; font-weight: normal; color: #000;">
                #Паводок2020
                </a>
            </h1>
        </div>
        <div class="to-right">
            <a href="#" class="btn" onclick="showModal('messageModal')">Отправить сообщение</a>
        </div>
    </div>
{/mask}