
#header{ padding: 0 15px 0 10px; width:1030px; box-sizing: border-box; height: 110px !important; }
#header .icons{ display: none }
#header .logo{ top: 15px;}
#header .logo_flash{ top:20px; }

#search { width: 22%; right: auto; left: 33%; top: 25px; }
#header .lang{ right: auto; left: 33%; top: 75px; }

#header #buttons_link .header-btn-feedback { display: none }
#header #buttons_link { left: 33%; top: 71px; margin-left: 133px }
#header .info { top: 25px }
#header .info-left { position: absolute; top: 0; left: -195px; }
#header .info-left .header-btn-feedback { display: block }

#header .header-sitemap { position: absolute; width: 50px; height: 20px; top: 73px; left: 33%; margin-left: 75px; border-left: 1px solid #e1e1e1 }
#header .header-sitemap a { display: block; height: 100%; background: url(../i/sitemap.png) no-repeat 50% 50%; }
